['Detroit Tigers',
 'New York Yankees',
 'New York Mets',
 'San Francisco Giants',
 'Milwaukee Brewers',
 'Washington Nationals',
 'Chicago Cubs',
 'Philadelphia Phillies',
 'Pittsburgh Pirates',
 'Atlanta Braves',
 'Los Angeles Angels',
 'Houston Astros',
 'Boston Red Sox',
 'Chicago White Sox',
 'Tampa Bay Rays',
 'Cleveland Indians',
 'Toronto Blue Jays',
 'Miami Marlins',
 'Baltimore Orioles',
 'Kansas City Royals',
 'Cincinnati Reds',
 'St. Louis Cardinals',
 'Minnesota Twins',
 'Texas Rangers',
 'Colorado Rockies',
 'San Diego Padres',
 'Seattle Mariners',
 'Oakland Athletics',
 'Arizona Diamondbacks',
 'Los Angeles Dodgers']
