{
 "National Football League":"parse_nfl_football",
 "NCAA College Football":"parse_nfl_football",
 "Canadian Football League":"parse_canada_fotball",
 "CFB Bowl Projections":"parse_football",
 "FCS Playoff Projections":"parse_football",
 "NBA Basketball":"parse_nfl_football",
 "NCAA Basketball":"parse_ncaa_basketball",
 "Bracketology":"parse_football",
 "NHL Hockey":"parse_nhl_hockey",
 "OHL Hockey":"parse_canada_fotball",
 "WHL Hockey":"parse_canada_fotball",
 "QMJHL Hockey":"parse_canada_fotball",
 "MLB Baseball":"parse_mlb_baseball",
 "CWS Bracketology":"parse_football",
 "World Cup":"parse_football",
 "Euro Cup":"parse_football",
 "Copa America":"parse_football",
 "Gold Cup":"parse_football",
 "African Cup of Nations":"parse_football",
 "Asian Cup":"parse_football",
 "International Friendlies":"parse_football",
 "Champions League":"parse_football",
 "Europa League":"parse_football",
 "English Premier League":"parse_football",
 "France Ligue 1":"parse_football",
 "Spain La Liga":"parse_football",
 "Germany Bundesliga":"parse_football",
 "Italy Serie A":"parse_football",
 "Portugal Liga":"parse_football",
 "Netherlands Eredivisie":"parse_football",
 "Ukraine Premier League":"parse_football",
 "Switzerland Super League":"parse_football",
 "Russia Premier League":"parse_football",
 "Turkey SuperLiga":"parse_football",
 "Belgium Jupiler League":"parse_football",
 "Greece Super League":"parse_football",
 "Denmark Superliga":"parse_football",
 "Austria Bundesliga":"parse_football",
 "England Championship":"parse_football",
 "Czech Synot Liga":"parse_football",
 "Romania Liga I":"parse_football",
 "Sweden Allsvenskan":"parse_football",
 "Belarus Vysshaya Liga":"parse_football",
 "Bulgaria A PFG":"parse_football",
 "Slovenia Prva Liga":"parse_football",
 "Croatia Prva HNL":"parse_football",
 "Cyprus First Division":"parse_football",
 "Poland Ekstraklasa":"parse_football",
 "Israel Ligat ha’Al":"parse_football",
 "Norway Tippeligaen":"parse_football",
 "Kazakhstan Premier":"parse_football",
 "Iceland Pepsideild":"parse_football",
 "Finland Veikkausliiga":"parse_football",
 "Rep. of Ireland Premier":"parse_football",
 "Northern Ireland":"parse_football",
 "Hungary OTP Bank Liga":"parse_football",
 "Wales Premier":"parse_football",
 "Scotland Premiership":"parse_football",
 "Serbia Super Liga":"parse_football",
 "Slovakia Fortuna Liga":"parse_football",
 "Major League Soccer":"parse_mls_soccer",
 "Mexican Liga":"parse_football",
 "Copa Libertaores":"parse_football",
 "Copa Sudamericana":"parse_football",
 "Argentina Primera":"parse_football",
 "Brazil Serie A":"parse_football",
 "Chile Primera":"parse_football",
 "Colombia Liga Postobon":"parse_football",
 "Paraguay Primera":"parse_football",
 "Uruguay Primera":"parse_football",
 "Australian Football League":"parse_australia_soccer",
 "CFL Predictions":"parse_canada_fotball",
 "OHL Hockey Predictions":"parse_canada_fotball",
 "WHL Hockey Predictions":"parse_canada_fotball",
 "QMJHL Hockey Predictions":"parse_canada_fotball",
 "Memorial Cup Predictions":"parse_canada_fotball"
}
