{'NCAA Football (1-A) FBS':'Football',
 'NCAA Football (1-AA) FCS':'Football',
 'NFL Football':'Football',
 'CFL Football':'Football',
 'NBA Basketball':'Basketball',
 'NCAA Men’s Basketball':'Basketball',
 'NCAA Women’s Basketball':'Basketball',
 'NHL Hockey':'Hockey',
 'OHL Hockey':'Hockey',
 'WHL Hockey':'Hockey',
 'QMJHL Hockey':'Hockey',
 'Men’s International Soccer':'Soccer',
 'UEFA European Soccer Clubs':'Soccer',
 'MLS Soccer':'Soccer',
 'MLB Baseball':'Soccer',
 'NCAA Baseball':'Soccer',
 'Australian Football League':'Soccer',
 }
